
  <footer class="page-footer font-small blue pt-4 color-link" style="background-color: #0075C2;color: #fff; margin-top:  200px">
    <div class="container" style="text-align: right">
                    <!-- Footer Links -->
                    <div class="container-fluid text-center text-md-right">
                  
                      <!-- Grid row -->
                      <div class="row">
                  
                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">
                  
                          <!-- Content -->
                          <h5 class="text-uppercase" style=" border-bottom: 1px solid #fff">الهدف من موقعنا</h5>
                          <p  style="text-align: justify;">عبر خدمتنا يمكنك البحث عن اقرب محلات غسيل و الافضل بينها او اضافة محلك في الخريطة و الحصول على</p>
                  
                        </div>
                        <!-- Grid column -->
                  
                        <hr class="clearfix w-100 d-md-none pb-3">
                  
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                  
                          <!-- Links -->
                        
                  
                      
                  
                        </div>
                        <!-- Grid column -->
                  
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                  
                          <!-- Links -->
                          <h5 class="text-uppercase" style=" border-bottom: 1px solid #fff">الرواط</h5>
                  
                          <ul class="list-unstyled" style="padding-right: 0px">
                            <li >
                              <a href="#!" id="colorLink">الصفحة الرئيسية</a>
                            </li>
                            <li>
                              <a href="#!" id="colorLink">بحث</a>
                            </li>
                            <li>
                              <a href="#!" id="colorLink">تسجبل الدخول</a>
                            </li>
                            <li>
                              <a href="#!" id="colorLink">انشاء حساب جديد </a>
                            </li>
                          </ul>
                  
                        </div>
                        <!-- Grid column -->
                  
                      </div>
                      <!-- Grid row -->
                  
                    </div>
                    <!-- Footer Links -->
                </div>
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3" style="background-color: rgb(19, 98, 163)" dir="ltr">Copyright © 2019 developed and designed by
                      <a href="https://hithub.com/hocineismail" id="developer"> HOCINE ISMAIL</a>
                    </div>
                    <!-- Copyright -->
   
</body>
</html>