* {
    box-sizing: border-box;
  }
  
  .text-map {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    margin: auto
  }
  body {
    background-color: #f1f1f1;
  }
  
  #regForm {
    background-color: #ffffff;
    margin: 50px auto;
   
    padding: 10px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
  
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
    border: red
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #0075C2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #0075C2;
  }
  
    .controls {
      margin-top: 16px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
  
    #description {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
    }
  
    #infowindow-content .title {
      font-weight: bold;
    }
  
    #infowindow-content {
      display: none;
    }
   #map {
    height: 500px;width: 100%
   }
    #map #infowindow-content {
      display: inline;
    }
  
    .pac-card {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }
  
    #pac-container {
      padding-bottom: 12px;
      margin-right: 12px;
    }
  
    .pac-controls {
      display: inline-block;
      padding: 5px 11px;
    }
  
    .pac-controls label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
  
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 50%;
    }
  
    #pac-input:focus {
      border-color: #4d90fe;
    }
  
    #title {
      color: #fff;
      background-color: #4d90fe;
      font-size: 25px;
      font-weight: 500;
      padding: 6px 12px;
    }
  
    #target {
      width: 345px;
    }
  
    body {
         direction: rtl;
         text-align: right;
         font-family: 'Cairo', sans-serif;
     }
      .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.808);
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          text-align:center;
        }
        
        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #fff;
          display: block;
          transition: 0.3s;
        
        }
        
        .sidenav a:hover{
          color: rgb(63, 161, 226);
        }
        
        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
        .nav-bar {
              list-style-type: none;
              padding-top: 10px;
              padding-bottom: 10px;
              margin: 0;
              
              overflow: hidden;
              background-color: #0075C2;
              }
  
  .nav-item {
    float: right;
  }
  
  .nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-item a:hover {
     color: #fff;
     text-decoration: none
  }
  
  .openNavbar {
      
      display: none
  }
  .openNavbar a {
      color: #fff;
     
  }
  
  
  .screen-mobile {
          display: none
        }
   
  @media screen and (max-width: 750px) {
    #regForm {
    background-color: #ffffff;
    margin: 50px auto;
   
    padding: 10px;
    width: 100%;
    min-width: 300px;
  }
  
       #map {
         height: 200px;
         padding: 0;
         margin: 0
       }
      .openNavbar {
         display: block
       }
        .nav-item {
            display: none
        }
        .screen-mobile {
          display: block
        }
        }
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
  
      #signup:hover   {
      background-color: #0075C2;
      color: #fff;
      border: 1px solid #fff
  }
  #developer  {
     color: rgb(204, 204, 204)
  }
  
  #colorLink  {
      text-align: right;
      color: #fff;
     
  }
  
  
  #signin:hover {
      background-color: rgb(30, 129, 196);
      color: #fff;
      border-color: #fff
  }
  
  #signin {
      margin-top: 10px;
      margin-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 12px;
      padding-left: 12px;
      border-bottom-left-radius: 50px 50px;
      border-bottom-right-radius: 50px 50px;
      border-top-left-radius: 50px 50px;
      border-top-right-radius: 50px 50px;
      background-color: #0075C2;
      color: #fff;
      border: 1px solid #fff
  }
  .hero-image {
    background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(rgba(0, 116, 194, 0.486), rgba(0, 0, 0, 0.637)), url("http://localhost:3000/images/washcar.jpg");
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  
       min-height: 100%;
      color: #fff;
  
    }
  
  .car-login {
     margin-left: auto;
     margin-right: auto
    }
  
  .header { 
      margin-left: auto;
      margin-right: auto
    }
  
  
  #signup  {
      margin-top: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 12px;
      padding-left: 12px;
      border-bottom-left-radius: 50px 50px;
      border-bottom-right-radius: 50px 50px;
      border-top-left-radius: 50px 50px;
      border-top-right-radius: 50px 50px;
      background-color: #fff;
      color: #0075C2;
      border: 1px solid #0075C2;
      border-color: #0075C2
  }
  .botton-nav {
      float: left
  }
  
  
  #signinheader:hover   {
      background-color: #0075C2;
      color: #fff;
      border-color: #fff
  }
  
  #signinheader  {   
      border-bottom-right-radius: 50px 50px;  
      border-top-right-radius: 50px 50px;
      background-color: #fff;
      color: #0075C2;
      border-color: #0075C2
  }
  
  
  #signupheader:hover   {
      background-color: #0075C2;
      color: #fff;
      border-color: #fff
  }
  
  #signupheader  { 
      border-bottom-left-radius: 50px 50px;
      border-top-left-radius: 50px 50px;
      background-color: #fff;
      color: #0075C2;
      border-color: #0075C2
  }
  
  
  .hero-text {
      text-align: center; 
      top: 200px;    
      color: white;
    }
  
  .under-title {
      text-align: center;
      padding: 5%;
      padding-bottom: 8%
  }
  .star-yallow {
      color: rgb(255, 251, 0)
  }
  
  .star-grey {
      color: rgb(172, 172, 172)
    }
  
  a.link-card {
      text-decoration: none;
      color: black
  }
  
  .read-more {
      margin-top: 5%; 
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      width: 150px;
  }
  
  .section-one {
      background-color: rgba(0, 116, 194, 0.082);
      padding-bottom: 7%
  }
  
  .icon-service {
      font-size: 80px;
      text-align: center;
      color: rgba(0, 116, 194, 0.658)
  }
  
  .score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }
  
  .score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
  }
  
  .score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
  }
  
  .bar-search {
  
      background-color: rgba(0, 116, 194, 0.082);
      padding: 20px;
      border-radius: 20px
  }
  
  .result-card {
      margin-bottom: 10px
  }
  
  .position-pagination {
      margin-right: auto;
      margin-left: auto
  }
  
  .signin {
      width: 500px;
      margin-left: auto;
      margin-right: auto
  }
  
  
  @media only screen and (max-width: 600px) {
      .signin {
          width: 100%;
         margin-left: auto;
         margin-right: auto
      }
    }
  
  
  #logo {
      color: #fff;
      padding-top: 8px;
      font-family: 'Yesteryear', cursive;
      font-size: 30px
  }