<% include ../_header %>

   <title>washpoloshcar</title>
</head>
<body >
    <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
       <div class="container">
        <a class="navbar-brand" href="/"  style="color: #fff; " id="logo">Wash Polish Car</a>
        <a class="nav-link" href="/"  style="color: #fff; " >الصفحة الرئيسية </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto" dir="ltr">

          </ul>
          <form class="form-inline">
            <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin" type="button">تسجيل الدخول</button>
            <button class="btn btn-outline-success" onclick="window.location.href='/signup'" id="signup"type="button">انشاء حساب جديد </button>
          </form>
        </div>
      </div>
      </nav>
      <div class="hero-image">
        <div class="container hero-text" style="padding-bottom: 80px">
            <h1 style="padding-top: 7%;padding-bottom: 5%; text-align: center">الان عبر خدمتنا يمكنك  البحث عن اقرب محلات غسيل و الافضل بينها او اضافة محلك في الخريطة و الحصول على خدمات اضافية  </h1>
            <div class="header" style="padding-bottom: 5%;">
                <button class="btn btn-outline-success" onclick="window.location.href='/search'" id="signinheader" type="button">ابحث عن محل</button>
                <button class="btn btn-outline-success" onclick="window.location.href='/signup'" id="signupheader"type="button"> &nbsp;&nbsp;اضف محلك  &nbsp; </button>

            </div>
        </div>
      </div>
      <div class="section-one">
          <div class="container " >
              <h3 class="under-title">خدماتنا</h3>
              <div class="row flex">
                <div class="col-md-4" style="text-align: center ;padding-bottom: 8%">
                    <i class="fas fa-map-marked-alt icon-service"></i>
                    <p class="card-text" style="padding: 5%">اضف ملك الى الخريطة مجانا و انظم الى عالم الرقمنة مما يسهل العثور على محلك و كسب زبائن جدد</p>
                </div>
                <div class="col-md-4" style="text-align: center;padding-bottom: 8%">
                    <i class="far fa-star icon-service"></i>
                    <p class="card-text" style="padding: 5%">يمكن للزبائن تقييم خدمات محلك و هذا سيزيد من فرصك للحصول على زبائن اكثر و ربح اوفر</p>

                </div>
                <div class="col-md-4" style="text-align: center;padding-bottom: 8%">
                      <i class="fas fa-dollar-sign icon-service" ></i>
                      <p class="card-text" style="padding: 5%">الحصول على حساب مجاني و  تدوين ارباحك اليومية و معرفة دخلك الشهري و السنوي</p>

                </div>
              </div>



            </div>
      </div>

 <div class="container">
     <h3 class="under-title">افضل المحلات

     </h3>
     <div class="row flex">

          <div class="col-md-3">
            <div class="card">
                <a href="#" class="link-card">
                <img  class="card-img-top" src="http://localhost:3000/images/washcar.jpg"  alt="profil car" />
              <div class="card-body">
                <h5 class="card-title">
                 <span style="color: rgb(86, 110, 248)">محل الرحمة</span>
                </h5>
                <p class="card-text"> محل الرحمة محل الرحمة محل الرحمة محل الرحمة محل الرحمة </p>
                <div class="text-primary" style="font-weight: bold;font-size: 1rem">
                  <span class="score">
                    <div class="score-wrap">
                      <span class="stars-active" style="width:60%">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                      <span class="stars-inactive" >
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                      </span>
                     </div>
                   </span>
                </div>
              </div>
                  </a>
            </div>
          </div>

          <div class="col-md-3">
              <div class="card">
                  <a href="#" class="link-card">
                  <img  class="card-img-top" src="http://localhost:3000/images/washcar.jpg"  alt="profil car" />
                <div class="card-body">
                  <h5 class="card-title">
                   <span style="color: rgb(86, 110, 248)">محل الرحمة</span>
                  </h5>
                  <p class="card-text"> محل الرحمة محل الرحمة محل الرحمة محل الرحمة محل الرحمة </p>
                    <div class="text-primary" style="font-weight: bold;font-size: 1rem">
                      <span class="score">
                        <div class="score-wrap">
                          <span class="stars-active" style="width:100%">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </span>
                          <span class="stars-inactive" >
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                          </span>
                         </div>
                       </span>
                    </div>
                  </div>
                      </a>
              </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <a href="#" class="link-card">
                    <img  class="card-img-top" src="http://localhost:3000/images/washcar.jpg"  alt="profil car" />
                  <div class="card-body">
                    <h5 class="card-title">
                     <span style="color: rgb(86, 110, 248)">محل الرحمة</span>
                    </h5>
                    <p class="card-text"> محل الرحمة محل الرحمة محل الرحمة محل الرحمة محل الرحمة </p>
                    <div class="text-primary" style="font-weight: bold;font-size: 1rem">
                      <span class="score">
                        <div class="score-wrap">
                          <span class="stars-active" style="width:5%">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </span>
                          <span class="stars-inactive" >
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                          </span>
                         </div>
                       </span>
                    </div>
                  </div>
                      </a>
                </div>
              </div>

              <div class="col-md-3">
                  <div class="card">
                      <a href="#" class="link-card">
                      <img  class="card-img-top" src="http://localhost:3000/images/washcar.jpg"  alt="profil car" />
                    <div class="card-body">
                      <h5 class="card-title">
                       <span style="color: rgb(86, 110, 248)">محل الرحمة</span>
                      </h5>
                      <p class="card-text"> محل الرحمة محل الرحمة محل الرحمة محل الرحمة محل الرحمة </p>
                      <div class="text-primary" style="font-weight: bold;font-size: 1rem">
                        <span class="score">
                          <div class="score-wrap">
                            <span class="stars-active" style="width:95%">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="stars-inactive" >
                              <i class="far fa-star" aria-hidden="true"></i>
                              <i class="far fa-star" aria-hidden="true"></i>
                              <i class="far fa-star" aria-hidden="true"></i>
                              <i class="far fa-star" aria-hidden="true"></i>
                              <i class="far fa-star" aria-hidden="true"></i>
                            </span>
                           </div>
                         </span>
                      </div>
                    </div>
                        </a>
                  </div>
                </div>

                <button class="btn  read-more" onclick="window.location.href='/search'">المزيد</button>

    </div>
 </div>
 
<% include ../_footer %>