<% include ../_header %> 
   
   <title>washpoloshcar</title>
</head>
<body >
    <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
       <div class="container"> 
        <a class="navbar-brand" href="/"  style="color: #fff; " id="logo">Wash Polish Car</a>
        <a class="nav-link" href="/"  style="color: #fff; " >الصفحة الرئيسية </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto" dir="ltr">
                    
          </ul>
          <form class="form-inline">
            <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin" type="button">تسجيل الدخول</button>
            <button class="btn btn-outline-success" onclick="window.location.href='/signup'" id="signup"type="button">انشاء حساب جديد </button>
          </form>
        </div>
      </div>
      </nav>
      <div class="hero-image">
        <div class="container hero-text" style="padding-bottom: 80px">
            <h1 style="padding-top: 7%;padding-bottom: 5%; text-align: center">الان عبر خدمتنا يمكنك  البحث  اقرب محلات غسيل و الافضل او اضافة محلك في الخريطة  </h1>
            <div class="header" style="padding-bottom: 5%;">
                <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signinheader" type="button">ابحث عن محل</button>
                <button class="btn btn-outline-success" onclick="window.location.href='/signup'" id="signupheader"type="button"> &nbsp;&nbsp;اضف محلك  &nbsp; </button>
       
            </div>
        </div>
      </div>
     
 <div class="container">
     <h3>افضل المحلات الحالية</h3>
 </div>

    
<% include ../_footer %>