<% include ../_header %>
<title>انشاء حساب جديد </title>

<title>صفحة البحث</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #fff; " id="logo">Wash Polish Car</a>
      <a class="nav-link" href="/" style="color: #fff; ">الصفحة الرئيسية </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" dir="ltr">

        </ul>
        <form class="form-inline">
          <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin"
            type="button">تسجيل الدخول</button>
          <button class="btn btn-outline-success" onclick="window.location.href='/signup'" id="signup"
            type="button">انشاء حساب جديد </button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <h3 class="under-title"> ابحث على افضل المحلات و الاقرب الى موقعك</h3>
    <div class="row">
      <div class="col-md-3 bar-search">
        <form style="margin-bottom: 30px">
          <div class="form-group">
            <label for="exampleFormControlSelect1">المنطقة</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">الحي</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">بحث</button>
        </form>
        
        <div id="map" style="width:100%;height:400px;"></div>
      </div>
      <div class="col-md-9">
        <div class="card" style="padding: 10px">
          <div class="row">
            <div class="col-md-4">

              <div class="content">
                <ul id="list" style="overflow: auto;">
                  <li id="0">

                  </li> </ul>
              </div>

            </div>
          </div>  
        </div>
      </div>

    </div>
  </div>

<script>
    function myMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -33.8688, lng: 151.2195 },
        zoom: 13,
        mapTypeId: 'roadmap'
      });
   

     

      var markers = [];
      var result = []

      // Create a marker for each place.

      let center = { lat: -33.8688, lng: 151.2195 };
      updateMarkers(center);

     

      function updateMarkers(center){
        
         function display (result) {
           console.log(markers)
      
          for (var i = 0; i < result.length; i++ ) {
            var PositionLatitude =  result[i].PositionLatitude
            var PositionLongitude =  result[i].PositionLongitude
         
            var contentString = '<li  >'+
                '<img class="card-img-top" src="http://localhost:3000/images/washcar.jpg" alt="profil car" />'
                +'<div class="card-body">'
                +'<h5 class="card-title">'
                +'<span style="color: rgb(86, 110, 248)">محل الرحمة</span>' 
                + '</h5>'
                +'<p class="card-text"> محل الرحمة محل الرحمة محل الرحمة محل الرحمة محل الرحمة </p>';
                +'</li>'
              
                 
            document.getElementById("list").insertAdjacentHTML("beforeend",contentString);
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var LatLng = { lat: PositionLatitude, lng: PositionLongitude };           
            var marker = new google.maps.Marker({
              position: LatLng,
              map: map,
            });
            markers.push(marker);
            google.maps.event.addListener(marker, 'click', (function (marker, infowindow) {
              return function () {
                infowindow.open(map, marker);
              };
            })(marker, infowindow));  
        }
      }

         

      // google.maps.event.addListener(map, 'dragend', function () {         
    
      //   getdata( map.getCenter().lat() + " -- " +  map.getCenter().lng())
      // });

            var infoWindow = new google.maps.InfoWindow;

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('موقعك');
              infoWindow.open(map);
              map.setCenter(pos);
            },
              function () {
                handleLocationError(true, infoWindow, map.getCenter());
              });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }

              google.maps.event.addListener(map, 'dragend', function () {
              // Saerch using ajax            
               getdata(map.getCenter().lat(),  map.getCenter().lng())
             });
             function getdata(lat, lng) {
                      var  minlat = lat - 0.2;
                      var  maxlat = lat + 0.5;
                      var  minlng = lng - 0.2;
                      var  maxlng = lng + 0.5;
                      $.ajax({
                        type: 'post',
                        url: '/data',
                        data : { minlat: minlat,
                                maxlat: maxlat,
                                minlng: minlng,
                                maxlng: maxlng },
                        success:  function (response) {
                        var result = response ;
                        console.log(result)
                        display (result)
             
                              }
                            });
                        }
        }
        
    }   
  
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=myMap"></script>