<% include ../_header %> 
   
   <title>تسجيل الدخول</title>
</head>
<body >
    <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
       <div class="container"> 
        <a class="navbar-brand" href="/"  style="color: #fff; " id="logo">Wash Polish Car</a>
        <a class="nav-link" href="/"  style="color: #fff; " >الصفحة الرئيسية </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto" dir="ltr">
                    
          </ul>
          <form class="form-inline">
              <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin" type="button">تسجيل الدخول</button>
              <button class="btn btn-outline-success" onclick="window.location.href='/signup'" id="signup"type="button">انشاء حساب جديد </button>
          </form>
        </div>
      </div>
      </nav>
   <div class="container" >
       <h3 style="padding: 50px; text-align: center"> استرجاع لكمة المرور</h3>
        <div class="container">
             
          <div class="row">
     
          <div class="col-md-12" style="padding-bottom: 10%">
          <div class="signin">  
              <div class="card">  
           <form action="/reset/<%= token %>" method="post" style="padding:20px">
            <% errors.forEach(function(error) { %>
              <div class="alert alert-danger" role="alert" >
              <%= error %>
              </div>
              <% }) %>
              <% infos.forEach(function(info) { %>
              <div class="alert alert-info" role="alert" >
              <%= info %>
              </div>
              <% }) %>
             <div class="form-group">
               <label for="exampleInputEmail1">كلمة السر الجديدة"</label>
               <input  name="password" type="password" class="form-control" id="password" placeholder="كلمة السر الجديدة" id="password" required>
               
             </div>
          
             <div class="form-group">
                    <label for="exampleInputEmail1">اعادة كتابة كلمة السر </label>
                    <input class="form-control " type="password" placeholder="اعادة كتابة كلمة السر " id="confirm_password" required>
                    
                  </div>
             <div class="form-check">
               
             <button type="submit" class="btn btn-primary form-check-label">   تحديث كلمة المرور</button>
              
            </div>
            </form>
             
           
          </div>
           </div>
         
           </div>


        </div>
       </div>
   </div>
<script type="text/javascript">
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");
function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("كلمة السر غير صحيحة");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
    
<% include ../_footer %>