<% include ../_header %> 
   
   <title>انشاء حساب جديد </title>
</head>
<body >
    <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
       <div class="container"> 
        <a class="navbar-brand" href="/"  style="color: #fff; " id="logo">Wash Polish Car</a>
        <a class="nav-link" href="/"  style="color: #fff; " >الصفحة الرئيسية </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto" dir="ltr">
                    
          </ul>
          <form class="form-inline">
            <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin" type="button">تسجيل الدخول</button>
         
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
        <h1 style="padding: 100px; text-align: center"> انشاء حساب جديد</h1>
        <div class="row">
          <div class="col-md-5">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">الاسم</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="الاسم ">
             </div>

              <div class="form-group">
                <label for="exampleInputEmail1">اللقب</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="اللقب ">
             </div>


             <div class="form-group">
              <label for="exampleInputEmail1">البريد الإلكتروني</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="البريد الإلكتروني">
              <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
            </div>

            
              <div class="form-group">
                <label for="exampleInputEmail1">تاريخ الميلاد</label>
                <input type="date" style="text-align: right" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="2008 ">
               </div>

              <div class="form-group">
                <label for="exampleInputEmail1">الجنس</label>
                <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">البلد</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">المنطقة</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">العنوان</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">رقم الجوال</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
              </div>

           


              <div class="form-group">
                <label for="exampleInputPassword1">كلمد المرور</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
             
              <div class="form-check">
              <button type="submit" class="btn btn-primary form-check-label"> انشاء حساب جديد</button>
             </div>
             </form>
          </div>
          <div class="col-md-7">
            <!-- set google maps here -->
          </div>
        </div>
    </div>
 

    
<% include ../_footer %>