<% include ../_header %> 
   
   <title>انشاء حساب جديد </title>
</head>
<body >
    <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
       <div class="container"> 
        <a class="navbar-brand" href="/"  style="color: #fff; " id="logo">Wash Polish Car</a>
        <a class="nav-link" href="/"  style="color: #fff; " >الصفحة الرئيسية </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto" dir="ltr">
                    
          </ul>
          <form class="form-inline">
            <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin" type="button">تسجيل الدخول</button>
         
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
        <h3 style="padding: 50px; text-align: center"> انشاء حساب جديد</h3>
        <div class="row">
          <div class="col-md-5">
            <form >
              <div class="form-group">
                <label for="exampleInputEmail1">الاسم</label>
                <input type="text" name="Firstname" class="form-control" id="Firstname" aria-describedby="Firstname" placeholder="الاسم ">
             </div>

              <div class="form-group">
                <label for="exampleInputEmail1">اللقب</label>
                <input type="text" name="Lastname" class="form-control" id="Lastname" aria-describedby="Lastname" placeholder="اللقب ">
             </div>


             <div class="form-group">
              <label for="exampleInputEmail1">البريد الإلكتروني</label>
              <input type="email"  name="Email" class="form-control" id="Email" aria-describedby="Email" placeholder="البريد الإلكتروني">
              <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
            </div>

            
              <div class="form-group">
                <label for="exampleInputEmail1">تاريخ الميلاد</label>
                <input type="date" name="Birthday" style="text-align: right" class="form-control" id="Birthday" aria-describedby="Birthday" placeholder="2008 ">
               </div>

              <div class="form-group">
                <label for="exampleInputEmail1">الجنس</label>
                <select class="form-control" name="Sex" id="Sex">
                  <option>ذكر</option>
                  <option>انثى</option>
  
                </select>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">البلد</label>
                <input type="text" name="Country" class="form-control" id="Country" aria-describedby="Country" placeholder="السعودية" disabled>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">المنطقة</label>
                <input type="text" name="City" class="form-control" id="City" aria-describedby="City" placeholder="المنطقة">
              </div>

              <div class="form-group">
                <label for="Address">العنوان</label>
                <input type="text"  name="Address" class="form-control" id="Address" aria-describedby="Address" placeholder="العنوان">
              </div>

              <div class="form-group">
                <label for="Phone">رقم الجوال</label>
                <input type="number" name="Phone" class="form-control" id="Phone" aria-describedby="Phone" placeholder="رقم الجوال">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">كلمد المرور</label>
                <input type="password" name="Password" class="form-control" id="password" placeholder="كلمة المرور">
              </div>

              <div class="form-group">
                <input class="form-control" style="text-align: right"  type="password" placeholder="اعادة كتابة كلمة المرور" id="confirm_password" required>
                <i class="fa fa-key icon"></i>  
               </div>

              <div class="form-check">
              <button type="submit" class="btn btn-primary form-check-label"> انشاء حساب جديد</button>
             </div>
             
             </form>
          </div>
          <div class="col-md-7">
              <h5  style="text-align: center" >الاحداثيات</h5>
         <div class="form-inline"> 
         
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">خط العرض</label>
              <input type="number"  name="PositionLatitude" class="form-control" id="number" placeholder="خط العرض" value="" disabled>
            </div>
            <div class="form-group mx-sm-3 mb-2">
             <label for="inputPassword2" class="sr-only">خط الطول</label>
             <input type="number" name="PositionLongitude" class="form-control" id="number" placeholder="خط الطول" value="" disabled>
            </div>
         </div>
          </div>
        </div>
    </div>
 

    <!--set Script here-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
<script src="vue/vue.js"></script>
    
<script type="text/javascript">
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");
function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("كلمة المرور غير صحيحة");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
<% include ../_footer %>