<% include ../_header %> 
<link href="/css/signup.css" rel="stylesheet">
   <title>تسجيل الدخول</title>
</head>
<body >
    <div id="mySidenav" class="sidenav" dir="rtl">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">الصفحة الرئيسية</a>
        <a href="/search">بحث</a>
        <a href="/login">تسجبل الدخول</a>
        <a href="#/signup">انشاء حساب جديد </a>
      </div>
    
      <ul class="nav-bar">
          <div class="container">
        <li class="nav-item logo"><h2 id="logo">Wash Polish Car</h2></li>
        <li class="nav-item"><a class="active" href="/">الصفحة الرئيسية</a></li>
        <li class="nav-item"><a href="/search">  <i class="fas fa-search"></i> </a></li>
            <div class="botton-nav"> 
                <li class="nav-item"><a href="/login"  id="signin">تسجبل الدخول</a></li>
                <li class="nav-item"><a href="/signup" class="bnt" id="signup"> انشاء حساب جديد</a></li>
           </div>
          </div> 
          
        <li  class="screen-mobile nav-item" style="float: right; margin-right: -40px" ><a href="#"  style="float: right"  onclick="openNav()">&#9776; </a></li>
        <li  class="nav-item logo screen-mobile"   ><h2 id="logo">Wash Polish Car</h2></li>
        <li class="nav-item logo screen-mobile"  style="float: left">
          <a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
    
        </li>
     

      </ul>
   <div class="container" >
       <h3 style="padding: 50px; text-align: center">تسجيل الدخول</h3>
        <div class="container">
             
          <div class="row">
     
          <div class="col-md-12" style="padding-bottom: 10%">
          <div class="signin">  
              <div class="card">  
           <form method="post" action="/login" style="padding:20px">
            <% errors.forEach(function(error) { %>
              <div class="alert alert-danger" role="alert" >
              <%= error %>
              </div>
              <% }) %>
              <% infos.forEach(function(info) { %>
              <div class="alert alert-info" role="alert" >
              <%= info %>
              </div>
              <% }) %>
              <% success.forEach(function(success) { %>
                <div class="alert alert-success" role="alert" >
                <%= success %>
                </div>
                <% }) %>
             <div class="form-group">
               <label for="exampleInputEmail1">البريد الإلكتروني</label>
               <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
               <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">كلمد المرور</label>
               <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
             </div>
           
             <div class="form-check">
               
              <button type="submit" class="btn btn-primary form-check-label"  onclick="Loading()" style="width: 180px; position:relative">   تـسجيل الدخول <span id="event" ></span></button>
             <span class="psw" style="float: left"> <a href="/forgot">فقدت كلمة المرور
             </a> </span>
            </div>
            </form>
             
           
          </div>
           </div>
         
           </div>


        </div>
       </div>
   </div>
    <script>

function Loading() {
  document.getElementById("event").innerHTML = '<i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size: 12px" ></i>';
}

function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
    document.getElementById("mySidenav").style.marginRight = "0";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.marginRight = "-100%";
    document.getElementById("mySidenav").style.width = "0";
  }

</script>
    
<% include ../_footer %>