<% include ../_header %> 
   
   <title>انشاء حساب جديد </title>
</head>


<body>
  <nav class="navbar navbar-expand-lg  navbar-light" style="color: #fff; background-color: #0075C2">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #fff; " id="logo">Wash Polish Car</a>
      <a class="nav-link" href="/" style="color: #fff; ">الصفحة الرئيسية </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" dir="ltr">

        </ul>
        <form class="form-inline">
          <button class="btn btn-outline-success" onclick="window.location.href='/login'" id="signin"
            type="button">تسجيل الدخول</button>

        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <h3 style="padding: 50px; text-align: center"> انشاء حساب جديد</h3>
    <div class="row">
      <div class="col-md-5">
        <form  method="post" action="/signupadmin">
          <div class="form-group">
            <label for="exampleInputEmail1">الاسم</label>
            <input type="text" name="Fullname" class="form-control" id="Firstname" aria-describedby="Firstname" placeholder="الاسم ">
         </div>

          


         <div class="form-group">
          <label for="exampleInputEmail1">البريد الإلكتروني</label>
          <input type="email"  name="email" class="form-control" id="Email" aria-describedby="Email" placeholder="البريد الإلكتروني">
          <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">اسم مستخدم</label>
          <input type="text"  name="username" class="form-control" id="username" aria-describedby="username" placeholder="اسم مستخدم<">
        
        </div>

          <div class="form-group">
            <label for="exampleInputPassword1">كلمد المرور</label>
            <input type="password" name="Password" class="form-control" id="password" placeholder="كلمة المرور">
          </div>

          <div class="form-group">
            <input class="form-control" style="text-align: right"  type="password" placeholder="اعادة كتابة كلمة المرور" id="confirm_password" required>
            <i class="fa fa-key icon"></i>  
           </div>

          <div class="form-check">
          
         </div>
         
        
      </div>
      
    </div>
</div>
<button type="submit" class="btn btn-primary form-check-label"> انشاء حساب جديد</button>
</form>
      </div>
  
    </div>
  </div>
  </div>


  <!--set Script here-->


  <script type="text/javascript">
    var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");
    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
  <% include ../_footer %>
